body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(81, 101, 87);
    user-select: none;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(325deg,#03001e 0%, #625a67 30%);
    padding: 40px 60px;
    border-radius: 30px;
}

h2{
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
}

button{
    padding: 15px 20px;
    width: 100%;
    cursor: pointer;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}

button:focus{
    background-color: blue;
    color: #fff;
}

.game{
    width: 432px;
    height: 432px;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    transform-style: preserve-3d;
}

.item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #fff;
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item:after{
    content: "";
    position: absolute;
    inset: 0;
    background: blue;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    
}
.item.boxOpen{
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after{
    transform: rotateY(180deg);
}